<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h1 class=" titulo "> Tarjeta de Credito</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row mt-4">

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
            <h3 class="titulo"> Agregar tarjeta </h3>

                <form [formGroup]="formulario" (ngSubmit)="agregarTarjeta()">

                        <!-- Campos del formulario -->

                    <div class="input-group input-group-lg mb-3">
                      <span class="input-group-text" ><i class="fas fa-users" [class.green-icon]= "this.formulario.get('titular')?.valid"
                        [class.red-icon]= "this.formulario.get('titular')?.invalid && this.formulario.get('titular')?.touched"></i></span>
                      <input formControlName = "titular" type="text" class="form-control" placeholder="Titular" >
                    </div>

                    <div class="input-group input-group-lg mb-3">
                      <span class="input-group-text" ><i class="fab fa-cc-amazon-pay" [class.green-icon]= "this.formulario.get('numeroTarjeta')?.valid"
                        [class.red-icon]= "this.formulario.get('numeroTarjeta')?.invalid && this.formulario.get('numeroTarjeta')?.touched" ></i></span>
                      <input maxlength="13" formControlName = "numeroTarjeta" type="text" class="form-control" placeholder="Numero de tarjeta" >
                    </div>

                <div class="row">
                    <div class="col-7">
                        <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" ><i class="far fa-calendar-alt" [class.green-icon]= "this.formulario.get('fechaExpiracion')?.valid"
                          [class.red-icon]= "this.formulario.get('fechaExpiracion')?.invalid && this.formulario.get('fechaExpiracion')?.touched"></i></span>
                        <input maxlength="5" formControlName= "fechaExpiracion" type="text" class="form-control" placeholder="MM-YY">
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" > <i class="fas fa-key" [class.green-icon]= "this.formulario.get('cvv')?.valid"
                              [class.red-icon]= "this.formulario.get('cvv')?.invalid && this.formulario.get('cvv')?.touched"></i> </span>
                            <input maxlength="3" formControlName= "cvv" type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                </div>

                <!-- Botton de envio de datos  -->

                <div class="d-grid gap-2">
                  <button [disabled]= "this.formulario.invalid"  type="submit"  class="btn btn-success btn-lg"> <i class="fas fa-database"></i> Aceptar</button>
                </div>

                </form>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
            <h3 class="titulo"> Listado de Tarjetas </h3>

              <table class="table">
                <tbody>
                  <tr *ngFor= "let tarjeta of listTarjetas">
                    <!-- ; let i = index; let i = index -->
                    <td>{{tarjeta.titular}}</td>
                    <td>{{tarjeta.numeroTarjeta}}</td>
                    <td>{{tarjeta.fechaExpiracion}}</td>
                    <td><i class="fas fa-edit text-info"></i></td>
                    <td><i (click) = eliminarTarjeta(tarjeta.id)  class="fas fa-trash text-danger"></i></td>
                  </tr>
                </tbody>
              </table>

        </div>
      </div>
  </div>

  </div>
</div>
<!-- </div> -->
